<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	

<mapper namespace="funfun.repository.MailRepo">
	
	<insert id="insertAuthData" parameterType="funfun.vo.MailAuth">
		insert into email_auth values(#{email}, #{authNumber}, 
		current_date, 'N')
	</insert>
	
	
	<select id="getAuthData" parameterType="String" resultType="int">
		SELECT * FROM (SELECT auth_code FROM email_auth WHERE email=#{email} AND used='N'
		ORDER BY reg_date DESC) WHERE rownum=1
	</select>
	
	<update id="expireMailCode" parameterType="int">
		update email_auth set used='Y' where auth_code=#{code}
	</update>
</mapper>