<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	

<mapper namespace="funfun.repository.MainRepo">
 	<resultMap type="funfun.vo.MainViewProject" id="MainViewProjectMap"></resultMap>
	<select id="getMainViewProjectList" parameterType="funfun.vo.PagingStartEnd" resultMap="MainViewProjectMap">
	 <![CDATA[
	 	SELECT b.* FROM (
SELECT rownum rn, a.* FROM(
SELECT pro_code code, nvl(pro_title, ' ') title,
nvl(CATE_TITLE, ' ') category, nvl(pro_target, 0) targetFunding,
nvl(PRO_FINISH_DATE, current_date)-current_date restDay,
nvl(PRO_IMAGE, ' ') image, nvl(pro_curr, '정지') pro_curr,
nvl(PRO_MONEY, 0) currentFunding FROM project WHERE PRO_FINISH_DATE>current_date and pro_curr='정상' AND PRO_SUB_DATE IS NOT NULL ]]>
<if test="category != null">
    AND cate_title like #{category}
</if>
<![CDATA[
ORDER BY PRO_FINISH_DATE ASC, pro_code asc) a WHERE rownum<=#{end}) b WHERE rn>${start}
		]]>
	 </select>
	
</mapper>