<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="funfun.repository.sh_secessionReposi">

 	<update id="finalPrc" parameterType="userprofile">
	    UPDATE member
		SET MEM_CURR = TO_DATE('9999-12-31','yyyy-mm-dd')
		WHERE MEM_EMAIL = #{memEmail}
 	</update>

</mapper>	