<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
<mapper namespace="funfun.repository.Sw_NoticeDao">
	<resultMap type="Notice" id="NoticeResult"/>
	<!-- int totCnt() 총 데이터 건수 -->
	<select id="notitotCnt" resultType="int">
		SELECT COUNT(*)
		FROM Notice
		WHERE 1=1
	</select>
	
	<!-- ArrayList<Notice> toplist() -->
	<select id="toplist" resultMap="NoticeResult" >
		SELECT rownum cnt, c.*
		FROM ( SELECT a.*, b.ADMIN_NAME 
			   FROM NOTICE a, ADMIN b
			   WHERE a.ADMIN_CODE = b.ADMIN_CODE 
			   AND NOTI_CK = 'Y'
			   ORDER BY NOTI_CODE DESC) c
	</select>
	<!-- ArrayList<Notice> list(Paging sch) -->
	<select id="list" resultMap="NoticeResult" parameterType="paging">
		SELECT *
		FROM(SELECT rownum cnt, c.*
			 FROM (SELECT a.*, b.ADMIN_NAME 
			 	   FROM NOTICE a, ADMIN b
				   WHERE a.ADMIN_CODE = b.ADMIN_CODE 
				   ORDER BY NOTI_CODE DESC) c)
		WHERE cnt BETWEEN #{start} AND #{end}
	</select>
	<!-- void insert(Notice ins) -->
	<insert id="insert" parameterType="notice">
		INSERT INTO notice 
		VALUES(notice_seq.nextval,#{noti_title},#{noti_detail},current_date, NULL, #{noti_ck}, #{admin_code})
	</insert>
	
	
	<!-- Notice detail(int noti_code) -->
	<select id="detail" resultType="notice" parameterType="int">
		SELECT rownum cnt, a.*, b.ADMIN_NAME
		FROM Notice a, ADMIN b
		WHERE a.ADMIN_CODE = b.ADMIN_CODE
		AND noti_code = #{noti_code}
	</select>
	<!-- void update(Notice upt) -->
	<update id="update" parameterType="notice">
		UPDATE notice
		SET noti_title = #{noti_title},
			noti_detail = #{noti_detail},
			noti_upt_date = CURRENT_DATE,
			noti_ck = #{noti_ck},
			admin_code = #{admin_code}
		WHERE noti_code = #{noti_code}
	</update>
	<!-- void delete(int noti_code) -->
	<delete id="delete" parameterType="int">
		DELETE FROM NOTICE 
		WHERE noti_code = #{noti_code}
	</delete>
</mapper>









